@font-face {
    font-family: Raleway-Regular;
    src: url(../assets/tipografia/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-ExtraLight;
    src: url(../assets/tipografia/Raleway-ExtraLight.ttf);
}

body{
	font-family:"Raleway-Regular";
}


/*http://samara.com.uy/*/
/*SECTION HEADER*/

.header{
	padding:2% 0;
	.icon-tel{
		padding-top: 2%;
	}
	.icon-tel{

	}
	.logo{
		text-align: center;
		.linea{
			float: left;
			list-style: none;
		  border-top: 4px double grey;
		  padding-top: 0.7%;
		  margin-top: 2%;
		}
		.text-logo{
			text-transform: uppercase;
			font-weight: 600;
		}		
	}
	.carrito{
		padding-top:1%;
		.circle-icon-cart{
		  width: 35px;
		  height: 35px;
		  background-color: #63cbc2;
		  border-radius: 50%;
		  left: 80%;
		  position: relative;
		  .fa{
		  	position: absolute;
			  left: 30%;
			  top: 25%;
			  color: white;
			}
		}
	}
}


/*SECTION MENU*/
.menu{
	.navbar{
		background-color: transparent;
	  border-radius: 0px;
	  border-bottom: 2px solid #2f2f2f;
	  margin-bottom: 3%;
		.collapse{
			text-align: center;
			.navbar-nav{
				display: block;
	 			margin: auto;
	 			float: none;
	 			> li{
	 				padding: 0 0.5%;
	 				display: inline-block;
	 				float: none;		 				
	 				&:before,
	 				&:after{
	 					  background: none repeat scroll 0 0 #63cbc2;
						  content: "";
						  height: 2px;
						  left: 0;
						  right: 0;
						  margin: 0px auto;
						  opacity: 0;
						  filter: alpha(opacity=0);
						  position: absolute;
						  -webkit-transition: all 0.6s ease-out 0s;
						  -moz-transition: all 0.6s ease-out 0s;
						  -ms-transition: all 0.6s ease-out 0s;
						  -o-transition: all 0.6s ease-out 0s;
						  transition: all 0.6s ease-out 0s;
						  width: 0%;  
	 				}
					&:hover{
						&:before,
						&:after{
							opacity: 1;
							width: 100%;
						}
					}
	 				a{
 					  color: #2f2f2f;
						font-weight: 600;
						&:hover{
		 					color: #63cbc2 !important;
		 					background-color:transparent !important;
		 				}

		 				&:focus{
		 					background-color:transparent;
		 				}
	 				}

	 			}
			}
		}
	}
}


/*SECTION IMG-HOME-CARROUSEL*/

.img-home-carrousel{
	.carousel-indicators{
		.active{
			margin: 0;
		  width: 12px;
		  height: 12px;
		  background-color: #63cbc2 !important;
		 }
		li{
			border-radius:0;
			.active{
				background-color:#63cbc2 !important;
			}
		}
	}
	.carousel-caption {
	  left: 0%;
	  right: 55%;
	  position: absolute;
	  bottom: 30%;
	  padding: 0 1% 0 5%;
	  z-index: 10;
	  color: #fff;
	  text-align: center;
	  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	  h1{
	  	font-weight: 600;
	  }
	  h4{

	  }
	  p{
	  	padding:2% 0 3%;
	  	letter-spacing: 0.5px;
	  	font-family: "Raleway-ExtraLight";
	  }
	  button{
	  	background-color:transparent;
		  border: 3px double white;
		  padding: 2% 7%;
		  &:hover{
		  	transition: 1s;
		  	background-color: #63cbc2;
		  }
	  }
	}
	.carousel-control {
		width: 3%;
	}
	.right, .carousel-control,{
		background-image: none !important;
	  opacity: 9;
	}
	.left, .carousel-control,{
		background-image: none !important;
	  opacity: 9;
	}
	.fa{
		  background-color: rgba(255, 255, 255, 0.35);
		  width: 100%;
		  height: 12%;
		  top: 46%;
		  position: absolute;
		  padding: 77% 0;
	  &:hover{
	  	transition: 1s;
	  	background-color: #63cbc2;
	  }
	}
	.fa-angle-right{
		right: 0;
	}
	.fa-angle-left{
		left: 0;
	}
}


/*SECCION IMG-PROM*/

.img-prom{
	.margin-top{
	  margin-top: 2%;
	  img{
	  	width: 100%;
	  }
	  button{
	  	background-color:transparent;
		  border: 3px double white;
		  padding: 2% 7%;
		  position: absolute;
		  bottom: 8%;
		  left: 35%;
		  color: white;
		  &:hover{
		  	background-color: #63cbc2;
		  	transition: 1s;
		  }
		}
	}
}



/*SECCION SLIDER*/

	.slick-slide{
		height: auto;
	}

	.img-slider{
		.text-title-slider{
			.line{
				border-bottom: 1px solid #e7e7e7;
			 	margin-top: 5px;
			  height: 10%;
			}
			.text-linea{
				text-align: center;
			  position: relative;
			  margin-top: -7px;
			  span{
			  	font-weight: 600;
			  	padding:1%;
			  	background-color:white;
			  	border: 3px double #e7e7e7;
			  }
			}
		}
		.slider{
			margin:45px auto;
			text-align:center;
		}
		img{
			width: 100%;
			border:1px solid #e7e7e7;
		}
		.slider div{
			margin-right:5px;
		}
		p{
			margin-top: 5%;
			font-family: 10px;
		}
		.nombre-producto{
			&:hover{
				color:red;
				cursor: pointer;
			}
		}
		.precio{
			color: red;
		}
	}

.slick-next {
  right: 15px;
  background-color: rgb(78, 181, 169);
  top: 32%;
  width: 2%;
  height: 15%;
}

.slick-dots{
	visibility:hidden;
}

	/*rating-estrellitas*/

	.rating {
		margin-top: 5%;
		  unicode-bidi: bidi-override;
		  direction: rtl;
		}
	.rating > span {
		color:#A5A5A5;
	  display: inline-block;
	  position: relative;
	  width: 1.1em;
	}
	.rating > span:hover:before,
	.rating > span:hover ~ span:before {
		color:gold;
	   content: "\2605";
	   position: absolute;
	}

/*SECTION IMG-BANNER*/

.img-banner{
	img{
		width: 100%;
	}
}


/*SECTION BLOG*/

.blog{
	.text-title-slider{
			margin-bottom: 4%;
			.line{
				border-bottom: 1px solid #e7e7e7;
			 	margin-top: 5px;
			  height: 10%;
			}
			.text-linea{
				text-align: center;
			  position: relative;
			  margin-top: -7px;
			  span{
			  	font-weight: 600;
			  	padding:1% 3%;
			  	background-color:white;
			  	border: 3px double #e7e7e7;
			  }
			}
		}
	}

	.blog-lastest.left {
  padding-right: 15px;
}

.blog-lastest {
  overflow: hidden;
  background-color: #EBEFF0;
  border: 1px solid #e4e5e7;
  margin-bottom: 24px;
}

.blog-lastest .images {
	transition: all 0.2s linear;
  position: relative;
  padding: 0;
	  &:hover{
  		overflow: hidden;
	    transform: scale(1.1);
	}
}

.blog-lastest.left .content {
  padding-left: 35px;
}
.blog-lastest .content {
  padding-top: 20px;
}
.blog-lastest .box-heading {
  text-transform: uppercase;
  font-size: 16.25px;
  font-weight: 600;
  color: #2f2f2f;
}

.footer {
	margin-top: 3%;
  background-color: rgb(34, 34, 34);
  .datos-footer {
    padding-top:2%;
    color: #595959;
    font-size: 15px;
    nav{
      a{
        padding: 0 2%;
        text-decoration: none;
        color: #595959;
      }
      a:hover{
        color: #63cbc2;
      }
      .border-rigth{
          border-right: 1px solid #595959;
      }
    }
  }
}

.datos-footer-2{
  padding-top:1% !important;
  border-bottom: transparent !important;
  nav{
    ul{
      padding:0;
      li{
        padding: 0 2%;
        list-style: none;
        float: left;
      }
    }
  }
  a{
   padding: 0 2%;
  }
}


.left-nav-footer{
	a{
		color: #595959;
		&:hover{
			color:#63cbc2;
	}
}
}

input.form-control{
	width: 250% !important;
}

.linea-separador{
	button{
		background-color: #63cbc2;
		position: relative;
  	left: 124%;
  	i{
  		color: white;
		}
		&:hover{
			background-color: white;
			i{
			color: #63cbc2;
			}
		}
	}

}

@media screen and (max-width: $screen-phone){
		/*SECTION MENU*/
	.menu{
		.navbar-header{
			button{
				float: none;
				margin: 8px;
			}
		}
	}
}
